<mat-card *ngIf="data">
  <mat-card-header>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.username}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>Ph.</b> {{data.phone}}</p>
    <p><b>Email</b> {{data.email}}</p>
    <b>Website</b> {{data.website}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/"> <  BACK</button>
  </mat-card-actions>
</mat-card> 

<!-- 
<div *ngIf="data">
    <div>{{data.name}}</div>
    <div>{{data.phone}}</div>
  </div> -->